<h1><%= @restaurant.name.capitalize %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.cuisine %></p>
<p><%= @restaurant.capacity %></p>
<p><%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant.id) %></p>
<p><%= link_to "Back to Restaurants", restaurants_path %></p>

---*** Everything below this line is throwing errors ***---
<% if current_user %>

  <h3>Reservations for <%= @restaurant.name %></h3>

  <% @restaurant.reservations.each do |reservation| %>
  <p>Reservation date: <%= reservation.reservation_date %>
    <br/>
    <% if reservation.user != nil %>
      <em> by <%= reservation.user.email %></em>
      Created on: <%= reservation.created_at %>
  <% end %>

<% end %>