<h1><%= @restaurant.name.capitalize %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.cuisine %></p>
<p><%= @restaurant.capacity %></p>
<p><%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant.id) %></p>
<p><%= link_to "Back to Restaurants", restaurants_path %></p>

<% if current_user %>

  <h4>New Reservation</h4>
  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :party_size %><br />
    <%= f.number_field :party_size %>
  </div>
  <div class="field">
    <%= f.label :reservation_date %><br />
    <%= f.datetime_select :reservation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>